<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src='@routes.Assets.versioned("lib/react/react.production.min.js")'></script>
    <script type="text/javascript" src='@routes.Assets.versioned("lib/react/react-dom.production.min.js")'></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
</head>
<body>
<div id="root"></div>
<script type='text/babel' src='@routes.Assets.versioned("javascripts/reactTest.jsx")'></script>
</body>
</html>
